*{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
#div  {  
      display: flex;
}
h1{
    font-weight: bolder;
}

#h1_2nd{
    text-align: center;
}
.para{
    margin: auto;
     padding: 0%;
}
#div1{
    margin: 49px;
    width: 50%;
}
#div2{
    display: grid;
    margin: 49px;
    width: 50%;
}
#img1{
   height: 72px;
   width: 111px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
#img2{
    height: 72px;
    width: 111px;
    
        display: block;
        margin-left: auto;
        margin-right: auto; 
}

@media screen and (max-width:725px) {
    #div {  
        display: block;
        text-align: center;
  }
    
 #div1 {
    display: inline;
 }
 #div2{
    display: inline;
 }
 body
{
  background-color:#1363DF;
}
.logo1
{
  margin-left: 120.66px;
  height: 99.98px;
  width: 100px;
  margin-top: 16.01px;
}
.logo2
{
  position: absolute;
  right:120.66px;
  top:0;
  height: 99.47px;
  width: 72.68px;
  margin-top: 16.01px;
}


.header
{
  margin-top: 106px;
  height: 476px;

}
.link
{
  margin-left: 120.66px;
  margin-top: 44px;
}
p
{
  margin: 0;
}

}





  
